name: Scorecard
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'  # runs daily
  workflow_dispatch:
permissions:
  contents: read
jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Scorecard
        uses: ossf/scorecard-action@v2
        with:
          results_file: results.sarif

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
